################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/BalorEditor/bin/Debug
/src/BalorEditor/obj/Debug
*.suo
